body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, sans-serif;
  background: #fafafa;
  color: #222;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 233px;
  margin-bottom: 10px;
}